{% extends 'websiteApp/base.html' %}
{% load static %}
{% block title %}Privacy{% endblock title %}


{% block main-content %}

<!-- anrdh internal section -->
<div class="container-fluid px-0">
      
  <div class="wrapper p-5 ">
      <div class="wrapper_text ">
          <div class="text">
              <h1>PP.nz for Schools</h1>
              <h4>We’ve worked with teachers and educators to create activity plans that help students learn about
                  the
                  values and policy trade-offs at the heart of the election.</h4>
              <h3>Using PP.nz as a tool for learning</h3>
              <p>“This is quite possibly the best website that we used in the last 4 years, it was extremely
                  engaging and
                  all students enjoyed being educated using this website.” — Year 7/8 teacher, Oaklands School,
                  Christchurch

                  PP.nz is great for teaching students about election issues: it’s comprehensive, neutral,
                  accessible,
                  and easy to use. We’ve made it even easier for teachers to use PP.nz as a tool for learning
                  by
                  creating a range of activity plans for adapting for your classrooms.</p>
              <h3>PP.nz for Schools activity plans</h3>
              <p>PP.nz for Schools activity plans are one-page resources that help teachers guide students
                  through
                  significant electoral issues, focussing on the values, priorities, and impacts that policies
                  have on
                  different groups of people and encouraging students to ask questions and challenge their
                  assumptions.
              </p>
              <p>Each activity plan covers the background of an issue, linking students to reputable and
                  student-friendly
                  sources, and guides students to use the PP.nz tool to explore and reflect on different
                  election
                  policies. Most plans are aimed at social studies or geography students, but some will be
                  suitable for
                  economics, science, and business studies.</p>
              <p>The local government resources include 18 activity plans across 15 topics.<a href="#"> You can download
                      all
                      activity plans</a>, or download specific activity plans below:</p>
              <p><a href="#">General resources for using PP.nz</a></p>
              
              <p> <a href="#">Jobs and employment</a></p>
              <p><a href="#">Tax</a></p>
              <p><a href="#">Income support</a></p>
              <p><a href="#">Wages and working conditions</a></p>
              <p><a href="#">Climate change</a></p>
              <p><a href="#">Fresh water</a></p>
              <p><a href="#">Urban transport</a></p>
              <p> <a href="#">Regional development</a></p>
              <p> <a href="#">Tourism</a></p>
              <p><a href="#">Housing affordability</a></p>
              <p><a href="#">Refugees</a></p>
              <p><a href="#">Immigration</a></p>
              <p><a href="#">Women</a></p>
              <p> <a href="#">Rainbow community</a></p>

              <h3>Who are the activity plans for?</h3>
              <p>The activity plans are aimed at curriculum level 5, but are designed to be simplified or advanced
                  to teach students from Year 7 to Year 13.</p>
              <p>Our activity plans help students learn about democracy, values, and policy trade-offs, and are
                  designed to strengthen students’ ability to make value-based decisions and to understand why
                  people make decisions that are different to their own.</p>
              <h3>Who made these activity plans?</h3>
              <p>The PP.nz team worked with Michael Moore-Jones and Maria and Kimberley at the <a href="#">Aotearoa Social
                  Studies Educators' Network</a> (ASSEN) to create these activity plans for the 2020 general election,
                  and have updated them for the 2023 general election. We also thank Mike Taylor of Taita College
                  and Bronwyn Wood and Robin Averill of Te Herenga Waka Victoria University of Wellington for
                  their comments.</p>
              <h3>Feedback</h3>
              <p>Have comments or feedback? Want to contribute an activity plan of your own? We’d love to hear
                  from you! Get in touch at <a href="#">contact@PP.nz.</a></p>
          </div>
      </div>
  </div>
 


</div>

<!-- section ends -->

{% endblock main-content %}